<div class="form-style-6">
  <h1>Crear Empleado</h1>
  <form>
    <input type="text" name="field1" placeholder="Nombre Completo" />
    <input type="email" name="field2" placeholder="Carnet de identidad" />
    <select placeholder="Tipo de empleado">
      <option value="">Empleado fijo</option>
      <option value="">Empleado por comision </option>
      <option value="">Empleado parcial</option>
    </select>
    <hr>
    <!-- empleado fijo -->
    <div>
      <input type="email" name="field2" placeholder="Salario inicial" />
    </div>
    <!-- empleado comision -->
    <div>
      <input type="email" name="field2" placeholder="Salario basico" />
      <input type="email" name="field2" placeholder="Porsentaje de comision por venta" />
    </div>
    <!-- empleado parcial -->
    <div>
      <input type="email" name="field2" placeholder="Salario inicial" />
    </div>

    <input type="submit" value="Send" />
  </form>
</div>
