<div class="form-style-6">
  <h1>Crear Empleado</h1>
  <form>
    <input type="text" name="field1" placeholder="Nombre Completo" />
    <input type="email" name="field2" placeholder="Carnet de identidad" />
    <select id="usertype" [(ngModel)]='employee.type' name="type">
      <option value="fijo">Empleado fijo</option>
      <option value="comision">Empleado por comision </option>
      <option value="parcial">Empleado parcial</option>
    </select>
    <hr>
    <div *ngIf="employee.type == 'fijo'">
      <input type="number" name="field3" placeholder="Salario inicial" />
    </div>
    <div *ngIf="employee.type == 'comision'">
      <input type="number" name="field4" placeholder="Salario basico" />
      <input type="number" name="field5" placeholder="Porsentaje de comision por venta" />
    </div>
    <div *ngIf="employee.type == 'parcial'">
      <input type="number" name="field6" placeholder="Salario inicial" />
    </div>

    <input type="submit" value="Send" (click)="print()" />
  </form>
</div>
