<button class="btn btn-primary button" (click)="crearEmpleado.open()">Crear Empleado</button>
<div class="row">
  <div class="column" *ngFor="let employee of listOfEmployees">
    <div class="card">
      <div class="col-sm-4">
        <img style="margin-bottom: 2em;" class="img-rounded" width="100" height="100" [src]="'assets/user.png'">
      </div>
      <h3><b>{{employee.nombre}}</b></h3>
      <h4><b>Metodo notificacion: </b>{{employee.notificacionDePago}}</h4>
      <h4><b>Metodo pago: </b>{{employee.metodoDePago}}</h4>
      <h4><b>Ci: </b>{{employee.ci}}</h4>

      <div class="button-box">
        <button class="btn btn-primary button glyphicon glyphicon-user" title="Employee Information" (click)="EditarEmpleado.open()">
        </button>
        <button class="btn btn-primary button glyphicon glyphicon-trash" title="Delete Employee">
        </button>
      </div>
    </div>
  </div>
</div>



<bs-modal #crearEmpleado>
  <bs-modal-header [showDismiss]="true">
    <h4 class="modal-title">Crear Empleado</h4>
  </bs-modal-header>
  <form class="form-signin" #track="ngForm">
    <bs-modal-body>
      <hr>
      <div class="form-label-group">
        <input type="text" id="Nombre" [(ngModel)]="employee.nombre" name="Nombre" class="form-control"
          placeholder="Nombre" required>
        <label for="Nombre">Nombre</label>
      </div>
      <div class="form-label-group">
        <input type="number" id="ci" [(ngModel)]="employee.ci" name="ci" class="form-control" placeholder="ci" required>
        <label for="ci">Carnet de identidad</label>
      </div>
      <div class="form-label-group">
        <select class="form-control" id="metodoDePago" [(ngModel)]='employee.metodoDePago' name="metodoDePago">
          <option value="efectivo">Efectivo</option>
          <option value="deposito">Deposito </option>
          <option value="cheque">Cheque</option>
        </select>
      </div>
      <div class="form-label-group">
        <select class="form-control" id="usertype" [(ngModel)]='employee.tipoDeEmpleado' name="type">
          <option value="fijo">Empleado fijo</option>
          <option value="comision">Empleado por comision </option>
          <option value="parcial">Empleado parcial</option>
        </select>
      </div>
      <hr>
      <div class="form-label-group" *ngIf="employee.tipoDeEmpleado == 'fijo'">
        <input class="form-control" type="number" name="field3" placeholder="Salario inicial"
          [(ngModel)]='employee.salario' />
        <label for="field3">Salario inicial</label>
      </div>
      <div class="form-label-group" *ngIf="employee.tipoDeEmpleado == 'comision'">
        <input class="form-control" type="number" name="field4" placeholder="Salario basico"
          [(ngModel)]='employee.salario' />
        <label for="field4">Salario basico</label>
      </div>
      <div class="form-label-group" *ngIf="employee.tipoDeEmpleado == 'comision'">
        <input class="form-control" type="number" name="field5" placeholder="Porcentaje de comision por venta"
          [(ngModel)]='employee.porcentajeDeComision' />
        <label for="field5">Porcentaje de comision por venta</label>
      </div>
      <div class="form-label-group" *ngIf="employee.tipoDeEmpleado == 'parcial'">
        <input class="form-control" type="number" name="field6" placeholder="Salario inicial"
          [(ngModel)]='employee.salario' />
        <label for="field6">Salario inicial</label>
      </div>
      <hr>
    </bs-modal-body>
    <bs-modal-footer>
      <button class="btn-danger" (click)="crearEmpleado.close()">Cancel</button>
      <button class="btn-primary" (click)="crateEmployee(); crearEmpleado.close()"
        [disabled]="!track.valid">Save</button>
    </bs-modal-footer>
  </form>
</bs-modal>



<bs-modal #EditarEmpleado>
    <bs-modal-header [showDismiss]="true">
      <h4 class="modal-title">Editar Empleado</h4>
    </bs-modal-header>
 
      <bs-modal-body>
    

      </bs-modal-body>
      <bs-modal-footer>
        <button class="btn-danger" (click)="EditarEmpleado.close()">Cancel</button>
        <button class="btn-primary" (click)="saveChanges(); EditarEmpleado.close()">Save</button>
      </bs-modal-footer>
    
  </bs-modal>
  