
<button class="btn btn-primary button" (click)="navigateTo('createEmployee')">Crear Empleado</button>
<div class="row">
  <div class="column" *ngFor="let employee of listOfEmployees">
    <div class="card">
      <div class="col-sm-4">
        <img class="img-rounded" width="100" height="100" [src]="'assets/user.png'">
      </div>
      <h3>{{employee.nombre}}</h3>
      <h4>{{employee.ci}}</h4>
      <h5>{{employee.metodoDePago}}</h5>
      <div class="button-box">
        <button class="btn btn-primary button glyphicon glyphicon-user"
        title="Employee Information">
        </button>
        <button class="btn btn-primary button glyphicon glyphicon-trash"
        title="Delete Employee">
        </button>
      </div>
    </div>
  </div>
</div>
